---
import PrivacyContent from "@/content/privacy.mdx";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
---

<DefaultLayout title="Cookie Policy" description="How we use cookies.">
  <section class="bg-obsidian relative overflow-hidden px-2.5 lg:px-0">
    <div
      class="border-b-dark-gray border-l-dark-gray border-r-dark-gray container relative border px-4 py-16 md:px-28 md:py-28 lg:px-32 lg:py-32"
    >
      <article
        class="prose prose-lg dark:prose-invert prose-h1:!text-foreground"
      >
        <PrivacyContent />
      </article>
    </div>
  </section>
</DefaultLayout>
